openapi: 3.2.0
info:
  title: Autoleadstar Audiences API
  version: 1.0.0
  contact:
    name: API Support
    email: support@fullpath.com
  termsOfService: https://www.fullpath.com/legal-and-trust/
  description: 'Operations tagged audiences across 2 of this provider''s published API definitions: autoleadstar-fullpath-api-openapi.yml, autoleadstar-mcp-tools-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://fullpath.com/api/v2/external/consent-management
  description: Production (fullpath.com)
- url: https://api.fullpath.com/v1
  description: Production (api.fullpath.com)
- url: https://staging-api.fullpath.com/v1
  description: Staging (api.fullpath.com)
tags:
- name: audiences
  description: Operations related to audiences
paths:
  /dealerships/{dealershipId}/shoppers/{id}/audiences:
    servers:
    - url: https://fullpath.com/api/v2/external/consent-management
      description: Production (fullpath.com)
    - url: https://api.fullpath.com/v1
      description: Production (api.fullpath.com)
    - url: https://staging-api.fullpath.com/v1
      description: Staging (api.fullpath.com)
    get:
      security:
      - Bearer: []
      tags:
      - audiences
      summary: List audiences for a shopper
      description: Returns a paginated list of audiences associated with the shopper
      operationId: listShopperAudiences
      parameters:
      - $ref: '#/components/parameters/DealershipId'
      - in: path
        name: id
        required: true
        description: Shopper identifier (integer)
        schema:
          type: integer
      - in: query
        name: page
        description: Page number (1-based)
        schema:
          type: integer
          minimum: 1
          default: 1
        required: false
      - in: query
        name: per_page
        description: Number of items per page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        required: false
      - in: query
        name: sort
        description: Sort order (comma-separated field names with optional - prefix for descending)
        schema:
          type: string
        required: false
      responses:
        '200':
          description: A paginated list of audiences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudiencesResponse'
        '204':
          description: No audiences found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Shopper not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /dealerships/{dealershipId}/audiences:
    servers:
    - url: https://fullpath.com/api/v2/external/consent-management
      description: Production (fullpath.com)
    - url: https://api.fullpath.com/v1
      description: Production (api.fullpath.com)
    - url: https://staging-api.fullpath.com/v1
      description: Staging (api.fullpath.com)
    get:
      security:
      - Bearer: []
      tags:
      - audiences
      summary: List audiences
      description: Returns a paginated list of audiences
      operationId: listAudiences
      parameters:
      - $ref: '#/components/parameters/DealershipId'
      - in: query
        name: page
        description: Page number (1-based)
        schema:
          type: integer
          minimum: 1
          default: 1
        required: false
      - in: query
        name: per_page
        description: Number of items per page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        required: false
      - in: query
        name: sort
        description: Sort order (comma-separated field names with optional - prefix for descending)
        schema:
          type: string
        required: false
      responses:
        '200':
          description: A paginated list of audiences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudiencesResponse'
        '204':
          description: No audiences found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /dealerships/{dealershipId}/audiences/{id}:
    servers:
    - url: https://fullpath.com/api/v2/external/consent-management
      description: Production (fullpath.com)
    - url: https://api.fullpath.com/v1
      description: Production (api.fullpath.com)
    - url: https://staging-api.fullpath.com/v1
      description: Staging (api.fullpath.com)
    get:
      security:
      - Bearer: []
      tags:
      - audiences
      summary: Get a single audience
      description: 'Retrieves an audience by `id`.


        Additional fields can be included in the response using the `embed` parameter. Available embed options:

        - `shoppers_count`: Include the count of shoppers in the audience

        '
      operationId: getAudienceById
      parameters:
      - $ref: '#/components/parameters/DealershipId'
      - in: path
        name: id
        required: true
        description: Audience identifier (integer)
        schema:
          type: integer
      - in: query
        name: embed
        description: 'Comma-separated list of fields to embed in the response. Available options:

          shoppers_count

          '
        schema:
          type: string
        required: false
        example: shoppers_count
      responses:
        '200':
          description: The requested audience
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audience'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Audience not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /dealerships/{dealershipId}/audiences/{id}/shoppers:
    servers:
    - url: https://fullpath.com/api/v2/external/consent-management
      description: Production (fullpath.com)
    - url: https://api.fullpath.com/v1
      description: Production (api.fullpath.com)
    - url: https://staging-api.fullpath.com/v1
      description: Staging (api.fullpath.com)
    get:
      security:
      - Bearer: []
      tags:
      - audiences
      summary: List shoppers in an audience
      description: Returns a paginated list of shoppers belonging to the given audience
      operationId: listAudienceShoppers
      parameters:
      - $ref: '#/components/parameters/DealershipId'
      - in: path
        name: id
        required: true
        description: Audience identifier (integer)
        schema:
          type: integer
      - in: query
        name: page
        description: Page number (1-based)
        schema:
          type: integer
          minimum: 1
          default: 1
        required: false
      - in: query
        name: per_page
        description: Number of items per page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        required: false
      - in: query
        name: sort
        description: Sort order (comma-separated field names with optional - prefix for descending)
        schema:
          type: string
        required: false
      responses:
        '200':
          description: Paginated shoppers in the audience
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceShoppersResponse'
        '204':
          description: No shoppers found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Audience not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Audience:
      type: object
      required:
      - id
      - name
      - shopper_set
      - is_starred
      - is_subscribed
      - is_sales_enablement
      - is_data_enrichment
      - created_at
      - updated_at
      - public_url
      properties:
        id:
          type: integer
          description: Unique identifier for the audience
          example: 89
        name:
          type: string
          description: Name of the audience
          example: Commercial Vehicle Prospecting
        shopper_set:
          type: string
          description: Base64-encoded JSON filter definition for the shopper set
          example: eyJvciI6W3siYW5kIjpbeyJoYXNfbGVhZCI6eyJkYXRlIjp7ImZyb20iOiItNiBtb250aHMifSwidmVoaWNsZV9ib2R5X2NsYXNzIjoiQ2FyZ28gVmFuIn19XX1dfQ==
        is_starred:
          type: integer
          enum:
          - 0
          - 1
          description: Whether the audience is starred (1) or not (0)
          example: 0
        is_subscribed:
          type: integer
          enum:
          - 0
          - 1
          description: Whether the audience is subscribed (1) or not (0)
          example: 0
        is_sales_enablement:
          type: integer
          enum:
          - 0
          - 1
          description: Whether the audience is used for sales enablement (1) or not (0)
          example: 0
        is_data_enrichment:
          type: integer
          enum:
          - 0
          - 1
          description: Whether the audience is used for data enrichment (1) or not (0)
          example: 0
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the audience was created
          example: '2026-01-08 19:02:22'
        updated_by:
          type:
          - string
          - 'null'
          description: Name of the user who last updated the audience
          example: System User
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
          description: ISO 8601 timestamp when the audience was last updated
          example: '2026-01-08 19:02:22'
        public_url:
          type: string
          format: uri
          description: Public URL for accessing the audience (contains authentication key)
          example: https://example.com/api/v2/public/shoppers/saved-filters?key=example_key
        shoppers_count:
          type: integer
          minimum: 0
          description: Number of shoppers in the audience. Only included when `embed=shoppers_count` is specified.
          example: 150
      description: Represents an audience (saved shopper filter). Additional fields are available via the embed parameter.
    CustomerLifetimeValue:
      type:
      - object
      - 'null'
      properties:
        sales:
          $ref: '#/components/schemas/SalesServices'
        services:
          $ref: '#/components/schemas/SalesServices'
        total_lifetime_value:
          type: number
          description: Total lifetime value
          example: 0
      description: Customer lifetime value information
    SalesServices:
      type: object
      properties:
        count:
          type: integer
          description: Number of sales/services
          example: 0
        total:
          type: number
          description: Total value
          example: 0
        gross:
          type: number
          description: Gross value
          example: 0
      description: Sales or services summary
    LatestLead:
      type:
      - object
      - 'null'
      properties:
        id:
          type: string
          description: Lead identifier
          example: '1234567890'
        salesperson:
          type:
          - string
          - 'null'
          description: Name of the salesperson
          example: Jane Smith
        date:
          type: string
          format: date
          description: Lead date (YYYY-MM-DD)
          example: '2024-01-15'
        up_type:
          type:
          - string
          - 'null'
          description: UP type
          example: Internet
        source:
          type:
          - string
          - 'null'
          description: Lead source
          example: Website - Contact Form
        status:
          type:
          - string
          - 'null'
          description: Lead status
          example: Bad
        sub_status:
          type:
          - string
          - 'null'
          description: Lead sub-status
          example: Duplicate lead
        vehicle:
          $ref: '#/components/schemas/Vehicle'
      description: Latest lead information for a shopper
    AudiencesResponse:
      type: object
      required:
      - data
      - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Audience'
        pagination:
          $ref: '#/components/schemas/Pagination'
      description: Response containing multiple audiences with pagination info
    Pagination:
      type: object
      required:
      - page
      - per_page
      - total
      - total_pages
      properties:
        page:
          type: integer
          minimum: 1
          description: Current page number (1-based)
        per_page:
          type: integer
          minimum: 1
          maximum: 100
          description: Number of items per page
        total:
          type: integer
          minimum: 0
          description: Total number of items
        total_pages:
          type: integer
          minimum: 0
          description: Total number of pages
      description: Pagination metadata
    Vehicle:
      type:
      - object
      - 'null'
      properties:
        vin:
          type:
          - string
          - 'null'
          description: Vehicle Identification Number
          example: 1HGBH41JXMN109186
        condition:
          type:
          - string
          - 'null'
          description: Vehicle condition (e.g., new, used)
          example: new
        year:
          type:
          - string
          - 'null'
          description: Vehicle year
          example: '2024'
        make:
          type:
          - string
          - 'null'
          description: Vehicle make
          example: Toyota
        model:
          type:
          - string
          - 'null'
          description: Vehicle model
          example: Camry
        trim:
          type:
          - string
          - 'null'
          description: Vehicle trim
          example: LE
      description: Vehicle information
    ContactDetail:
      type:
      - object
      - 'null'
      properties:
        source:
          type:
          - string
          - 'null'
          description: Source of the contact (e.g., crm_customer, website_conversion)
          example: crm_customer
        first_name:
          type:
          - string
          - 'null'
          description: First name
          example: John
        middle_name:
          type:
          - string
          - 'null'
          description: Middle name
          example: null
        last_name:
          type:
          - string
          - 'null'
          description: Last name
          example: Doe
        full_name:
          type:
          - string
          - 'null'
          description: Full name
          example: John Doe
        main_email_addresses:
          type:
          - string
          - 'null'
          format: email
          description: Main email address
          example: john.doe@example.com
        alternative_email_addresses:
          type:
          - string
          - 'null'
          description: Alternative email addresses
          example: null
        cell_phone:
          type:
          - string
          - 'null'
          description: Cell phone number
          example: '+15555551234'
        home_phone:
          type:
          - string
          - 'null'
          description: Home phone number
          example: '+15555551235'
        work_phone:
          type:
          - string
          - 'null'
          description: Work phone number
          example: null
        address:
          type:
          - string
          - 'null'
          description: Street address
          example: null
        city:
          type:
          - string
          - 'null'
          description: City
          example: Anytown
        state:
          type:
          - string
          - 'null'
          description: State
          example: NY
        zipcode:
          type:
          - string
          - 'null'
          description: ZIP code
          example: '12345'
        timestamp:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp when the contact was created/updated
          example: '2024-01-15T10:30:00Z'
        latitude:
          type:
          - number
          - 'null'
          description: Latitude coordinate
          example: null
        longitude:
          type:
          - number
          - 'null'
          description: Longitude coordinate
          example: null
        status:
          type:
          - string
          - 'null'
          description: Contact status
          example: Active
        crm_link:
          type:
          - string
          - 'null'
          format: uri
          description: Link to CRM customer dashboard
          example: https://example.com/crm/customer/123456
        creation_date:
          type:
          - string
          - 'null'
          format: date
          description: Creation date (YYYY-MM-DD)
          example: '2024-01-15'
        external_customer_id:
          type:
          - string
          - 'null'
          description: External customer identifier
          example: EXT123456
        customer_type:
          type:
          - string
          - 'null'
          description: Customer type
          example: null
      description: Contact information for a shopper
    Shopper:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          description: Unique shopper identifier
          example: 16395039
        primary_contact:
          $ref: '#/components/schemas/PrimaryContact'
        latest_lead_date:
          type:
          - string
          - 'null'
          format: date
          description: Date of the latest lead (YYYY-MM-DD)
          example: '2024-01-15'
        latest_sale_date:
          type:
          - string
          - 'null'
          format: date
          description: Date of the latest sale (YYYY-MM-DD)
          example: null
        latest_marketing_touchpoint_date:
          type:
          - string
          - 'null'
          format: date
          description: Date of the latest marketing touchpoint (YYYY-MM-DD)
          example: '2024-01-15'
        latest_sale:
          $ref: '#/components/schemas/LatestSale'
        latest_lead:
          $ref: '#/components/schemas/LatestLead'
        adf_leads:
          type: array
          items:
            $ref: '#/components/schemas/ADFLead'
          description: Array of ADF leads
          example: []
        marketing_engagement_score:
          type:
          - string
          - 'null'
          description: Marketing engagement score
          example: '10'
        loyalty_score:
          type:
          - string
          - 'null'
          description: Loyalty score
          example: '0'
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/ContactDetail'
          description: Array of all contacts associated with the shopper (single shopper only)
        location:
          $ref: '#/components/schemas/Location'
        score:
          type:
          - integer
          - 'null'
          description: Shopper score (single shopper only)
          example: 10
        public_link:
          type:
          - string
          - 'null'
          format: uri
          description: Public link for the shopper (single shopper only)
          example: https://example.com/s/abc123xyz
        customer_lifetime_value:
          $ref: '#/components/schemas/CustomerLifetimeValue'
        latest_sale_estimated_equity:
          type:
          - number
          - 'null'
          description: Estimated equity from latest sale (single shopper only)
          example: null
        household_flag:
          type:
          - boolean
          - 'null'
          description: Whether this is a household shopper (single shopper only)
          example: false
        customer_tags:
          type: array
          items:
            type: string
          description: Array of customer tags (single shopper only)
          example: []
        is_enriched:
          type:
          - boolean
          - 'null'
          description: Whether the shopper data has been enriched (single shopper only)
          example: true
        salesperson:
          type:
          - string
          - 'null'
          description: Assigned salesperson (single shopper only)
          example: Jane Smith
        group_shopper_id:
          type:
          - string
          - 'null'
          description: Group shopper identifier (single shopper only)
          example: GRP123456789
        financial_durability_index:
          type:
          - number
          - 'null'
          description: Financial durability index (single shopper only)
          example: 8.46
        aim_propensity_score:
          type:
          - number
          - 'null'
          description: AIM propensity score (single shopper only)
          example: 2.54
      description: Represents a shopper. Additional fields are available via the embed parameter. Some fields (contacts, location, score, public_link, customer_lifetime_value, latest_sale_estimated_equity, household_flag, customer_tags, is_enriched, salesperson, group_shopper_id, financial_durability_index, aim_propensity_score) are only available when getting a single shopper.
    ErrorResponse:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: Error code or status code
        message:
          type: string
          description: Human-readable error message
        details:
          type:
          - string
          - 'null'
          description: Additional error details
      description: Standard structure for API error responses
    ADFLead:
      type:
      - object
      - 'null'
      description: ADF lead information
    Location:
      type:
      - object
      - 'null'
      properties:
        title:
          type:
          - string
          - 'null'
          description: Full location title
          example: Anytown, NY, 12345
        city:
          type:
          - string
          - 'null'
          description: City
          example: Anytown
        state:
          type:
          - string
          - 'null'
          description: State
          example: NY
        zipcode:
          type:
          - string
          - 'null'
          description: ZIP code
          example: '12345'
        source:
          type:
          - string
          - 'null'
          description: Source of the location data
          example: customer
        address:
          type:
          - string
          - 'null'
          description: Street address
          example: null
        distance_from_dealership:
          type:
          - number
          - 'null'
          description: Distance from dealership (in miles or kilometers)
          example: null
      description: Location information for a shopper
    LatestSale:
      type:
      - object
      - 'null'
      description: Latest sale information for a shopper. Structure similar to LatestLead.
    PrimaryContact:
      type:
      - object
      - 'null'
      properties:
        source:
          type:
          - string
          - 'null'
          description: Source of the contact (e.g., customer, crm_customer)
          example: customer
        first_name:
          type:
          - string
          - 'null'
          description: First name
          example: John
        middle_name:
          type:
          - string
          - 'null'
          description: Middle name
          example: null
        last_name:
          type:
          - string
          - 'null'
          description: Last name
          example: Doe
        full_name:
          type:
          - string
          - 'null'
          description: Full name
          example: John Doe
        main_email_addresses:
          type:
          - string
          - 'null'
          format: email
          description: Main email address
          example: john.doe@example.com
        alternative_email_addresses:
          type:
          - string
          - 'null'
          description: Alternative email addresses
          example: null
        cell_phone:
          type:
          - string
          - 'null'
          description: Cell phone number
          example: '+15555551234'
        home_phone:
          type:
          - string
          - 'null'
          description: Home phone number
          example: '+15555551235'
        work_phone:
          type:
          - string
          - 'null'
          description: Work phone number
          example: null
        address:
          type:
          - string
          - 'null'
          description: Street address
          example: null
        city:
          type:
          - string
          - 'null'
          description: City
          example: Anytown
        state:
          type:
          - string
          - 'null'
          description: State
          example: NY
        zipcode:
          type:
          - string
          - 'null'
          description: ZIP code
          example: '12345'
        timestamp:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp when the contact was created/updated
          example: '2024-01-15T10:30:00Z'
        latitude:
          type:
          - number
          - 'null'
          description: Latitude coordinate
          example: null
        longitude:
          type:
          - number
          - 'null'
          description: Longitude coordinate
          example: null
        status:
          type:
          - string
          - 'null'
          description: Contact status
          example: null
        crm_link:
          type:
          - string
          - 'null'
          format: uri
          description: Link to CRM customer dashboard
          example: null
        creation_date:
          type:
          - string
          - 'null'
          format: date
          description: Creation date (YYYY-MM-DD)
          example: null
        external_customer_id:
          type:
          - string
          - 'null'
          description: External customer identifier
          example: null
        customer_type:
          type:
          - string
          - 'null'
          description: Customer type
          example: null
        email:
          type:
          - string
          - 'null'
          format: email
          description: Email address (legacy field, use main_email_addresses)
          example: john.doe@example.com
        full_address:
          type:
          - string
          - 'null'
          description: Full address (legacy field, use city, state, zipcode)
          example: Anytown, NY, 12345
      description: Primary contact information for a shopper. Extended version available in single shopper responses.
    AudienceShoppersResponse:
      type: object
      required:
      - data
      - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Shopper'
        pagination:
          $ref: '#/components/schemas/Pagination'
      description: Response containing shoppers in an audience with pagination info
  parameters:
    DealershipId:
      in: path
      name: dealershipId
      required: true
      description: Dealership identifier (integer)
      schema:
        type: integer
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Platform JWT or Consent Management vendor API key.

        In Scalar, paste only the raw token/key (no `Bearer ` prefix).

        '
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Platform JWT or Consent Management vendor API key.

        In Scalar, paste only the raw token/key (no `Bearer ` prefix).

        '
x-refined-from:
- autoleadstar-fullpath-api-openapi.yml
- autoleadstar-mcp-tools-openapi.yml
