openapi: 3.2.0
info:
  title: Autoleadstar Leads API
  version: 1.0.0
  contact:
    name: API Support
    email: support@fullpath.com
  termsOfService: https://www.fullpath.com/legal-and-trust/
  description: 'Operations tagged leads across 2 of this provider''s published API definitions: autoleadstar-fullpath-api-openapi.yml, autoleadstar-mcp-tools-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://fullpath.com/api/v2/external/consent-management
  description: Production (fullpath.com)
- url: https://api.fullpath.com/v1
  description: Production (api.fullpath.com)
- url: https://staging-api.fullpath.com/v1
  description: Staging (api.fullpath.com)
tags:
- name: leads
  description: Operations related to leads
paths:
  /dealerships/{dealershipId}/leads:
    servers:
    - url: https://fullpath.com/api/v2/external/consent-management
      description: Production (fullpath.com)
    - url: https://api.fullpath.com/v1
      description: Production (api.fullpath.com)
    - url: https://staging-api.fullpath.com/v1
      description: Staging (api.fullpath.com)
    get:
      security:
      - Bearer: []
      tags:
      - leads
      summary: List leads
      description: Returns a paginated list of leads with optional filtering
      operationId: listLeads
      parameters:
      - $ref: '#/components/parameters/DealershipId'
      - in: query
        name: from_date
        description: Filter leads from this date (YYYY-MM-DD)
        schema:
          type: string
          format: date
        required: false
      - in: query
        name: to_date
        description: Filter leads until this date (YYYY-MM-DD)
        schema:
          type: string
          format: date
        required: false
      - in: query
        name: status
        description: Filter by lead status
        schema:
          type: string
          enum:
          - new
          - contacted
          - qualified
          - converted
          - lost
        required: false
      - in: query
        name: page
        description: Page number (1-based)
        schema:
          type: integer
          minimum: 1
          default: 1
        required: false
      - in: query
        name: per_page
        description: Number of items per page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        required: false
      - in: query
        name: sort
        description: Sort order (comma-separated field names with optional - prefix for descending)
        schema:
          type: string
        required: false
      responses:
        '200':
          description: A paginated list of leads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadsResponse'
        '204':
          description: No leads found
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: Error code or status code
        message:
          type: string
          description: Human-readable error message
        details:
          type:
          - string
          - 'null'
          description: Additional error details
      description: Standard structure for API error responses
    LeadsResponse:
      type: object
      required:
      - data
      - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Lead'
        pagination:
          $ref: '#/components/schemas/Pagination'
      description: Response containing multiple leads with pagination info
    Lead:
      type: object
      required:
      - id
      - created_at
      properties:
        id:
          type: integer
          description: Unique lead identifier
          example: 1941026099
        created_at:
          type: string
          format: date-time
          description: ISO 8601 creation timestamp
          example: '2025-12-16T00:00:00Z'
        crm_lead_id:
          type:
          - string
          - 'null'
          description: CRM lead identifier
          example: '1941026099'
        crm_customer:
          type:
          - string
          - 'null'
          description: CRM customer identifier
          example: '709290931'
        vehicle_canonical_details:
          type:
          - object
          - 'null'
          description: Vehicle canonical details
          example: null
        first_name:
          type:
          - string
          - 'null'
          description: First name
          example: John
        middle_name:
          type:
          - string
          - 'null'
          description: Middle name
          example: null
        last_name:
          type:
          - string
          - 'null'
          description: Last name
          example: Doe
        main_email_addresses:
          type:
          - string
          - 'null'
          description: Main email address
          example: john.doe@example.com
        alternative_email_addresses:
          type:
          - string
          - 'null'
          description: Alternative email addresses
          example: null
        cell_phone:
          type:
          - string
          - 'null'
          description: Cell phone number
          example: '5551234567'
        home_phone:
          type:
          - string
          - 'null'
          description: Home phone number
          example: '5551234567'
        work_phone:
          type:
          - string
          - 'null'
          description: Work phone number
          example: '5551234567'
        additional_phone_numbers:
          type:
          - string
          - 'null'
          description: Additional phone numbers
          example: ''
        address:
          type:
          - string
          - 'null'
          description: Street address
          example: 123 Main St
        city:
          type:
          - string
          - 'null'
          description: City
          example: Anytown
        state:
          type:
          - string
          - 'null'
          description: State abbreviation
          example: MA
        zipcode:
          type:
          - string
          - 'null'
          description: ZIP code
          example: '12345'
        date_entered:
          type:
          - string
          - 'null'
          format: date
          description: Date entered (YYYY-MM-DD)
          example: '2025-12-16'
        up_type:
          type:
          - string
          - 'null'
          description: UP type
          example: Internet
        source:
          type:
          - string
          - 'null'
          description: Lead source
          example: Chevrolet Drp Request Details 2 Tier 3
        sub_source:
          type:
          - string
          - 'null'
          description: Sub source
          example: null
        status:
          type:
          - string
          - 'null'
          description: Lead status
          example: Sold
        assigned_salesperson:
          type:
          - string
          - 'null'
          description: Assigned salesperson name
          example: Jane Smith
        voi_condition:
          type:
          - string
          - 'null'
          description: Vehicle of interest condition
          example: new
        voi_year:
          type:
          - string
          - 'null'
          description: Vehicle of interest year
          example: '2026'
        voi_make:
          type:
          - string
          - 'null'
          description: Vehicle of interest make
          example: Chevrolet
        voi_model:
          type:
          - string
          - 'null'
          description: Vehicle of interest model
          example: Suburban
        voi_trim:
          type:
          - string
          - 'null'
          description: Vehicle of interest trim
          example: RST
        voi_sku:
          type:
          - string
          - 'null'
          description: Vehicle of interest SKU
          example: C86373
        voi_vin:
          type:
          - string
          - 'null'
          description: Vehicle of interest VIN
          example: 1GN12345678901234
        voi_miles:
          type:
          - string
          - 'null'
          description: Vehicle of interest miles
          example: null
        interested_in_trade_in:
          type:
          - boolean
          - 'null'
          description: Whether interested in trade-in
          example: null
        trade_in_vehicle:
          type:
          - string
          - 'null'
          description: Trade-in vehicle information
          example: null
        trade_in_year:
          type:
          - string
          - 'null'
          description: Trade-in vehicle year
          example: null
        trade_in_make:
          type:
          - string
          - 'null'
          description: Trade-in vehicle make
          example: null
        trade_in_model:
          type:
          - string
          - 'null'
          description: Trade-in vehicle model
          example: null
        trade_in_trim:
          type:
          - string
          - 'null'
          description: Trade-in vehicle trim
          example: null
        trade_in_estimation:
          type:
          - string
          - 'null'
          description: Trade-in estimation
          example: ''
        is_sold:
          type:
          - boolean
          - 'null'
          description: Whether the lead is sold
          example: false
        still_owns:
          type:
          - boolean
          - 'null'
          description: Whether the customer still owns the vehicle
          example: true
        sale_date:
          type:
          - string
          - 'null'
          format: date
          description: Sale date (YYYY-MM-DD)
          example: null
        sold_vehicle_condition:
          type:
          - string
          - 'null'
          description: Sold vehicle condition
          example: null
        sold_vehicle_year:
          type:
          - string
          - 'null'
          description: Sold vehicle year
          example: null
        sold_vehicle_make:
          type:
          - string
          - 'null'
          description: Sold vehicle make
          example: null
        sold_vehicle_model:
          type:
          - string
          - 'null'
          description: Sold vehicle model
          example: null
        sold_vehicle_trim:
          type:
          - string
          - 'null'
          description: Sold vehicle trim
          example: null
        sold_vehicle_sku:
          type:
          - string
          - 'null'
          description: Sold vehicle SKU
          example: null
        sold_vehicle_vin:
          type:
          - string
          - 'null'
          description: Sold vehicle VIN
          example: null
        sold_vehicle_price:
          type:
          - number
          - 'null'
          description: Sold vehicle price
          example: null
        front_gross:
          type:
          - number
          - 'null'
          description: Front gross amount
          example: 0
        back_gross:
          type:
          - number
          - 'null'
          description: Back gross amount
          example: 0
        total_gross:
          type:
          - number
          - 'null'
          description: Total gross amount
          example: null
        vehicle_images:
          type: array
          items:
            type: string
          description: Array of vehicle image URLs
          example: []
        push_to_crm:
          type:
          - boolean
          - 'null'
          description: Whether to push to CRM
          example: null
        sale_term:
          type:
          - string
          - 'null'
          description: Sale term
          example: null
        purchase_type:
          type:
          - string
          - 'null'
          description: Purchase type
          example: null
      description: Represents a lead with comprehensive vehicle and customer information
    Pagination:
      type: object
      required:
      - page
      - per_page
      - total
      - total_pages
      properties:
        page:
          type: integer
          minimum: 1
          description: Current page number (1-based)
        per_page:
          type: integer
          minimum: 1
          maximum: 100
          description: Number of items per page
        total:
          type: integer
          minimum: 0
          description: Total number of items
        total_pages:
          type: integer
          minimum: 0
          description: Total number of pages
      description: Pagination metadata
  parameters:
    DealershipId:
      in: path
      name: dealershipId
      required: true
      description: Dealership identifier (integer)
      schema:
        type: integer
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Platform JWT or Consent Management vendor API key.

        In Scalar, paste only the raw token/key (no `Bearer ` prefix).

        '
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Platform JWT or Consent Management vendor API key.

        In Scalar, paste only the raw token/key (no `Bearer ` prefix).

        '
x-refined-from:
- autoleadstar-fullpath-api-openapi.yml
- autoleadstar-mcp-tools-openapi.yml
